<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>CHANGE_AVATAR</string>
			<key>Key</key>
			<string>KeyUserAvatar</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>USER_ID</string>
			<key>Key</key>
			<string>KeyUserID</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>USERNAME</string>
			<key>Key</key>
			<string>KeyUsername</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>USER_EMAIL</string>
			<key>Key</key>
			<string>KeyUserEmail</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>USER_GENDER</string>
			<key>Key</key>
			<string>KeyUserGender</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>USER_PROVINE</string>
			<key>Key</key>
			<string>KeyUserProvine</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Facebook</string>
			<key>Key</key>
			<string>KeyFacebookConnect</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Twitter</string>
			<key>Key</key>
			<string>KeyTwitterConnect</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Instagram</string>
			<key>Key</key>
			<string>KeyInstagramConnect</string>
		</dict>
	</array>
</dict>
</plist>
